html {
  background-color: #0a2333;
}

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  line-height: 1.4;
}

.container {
  padding: 0 1em;
  margin: 30px;
}

.title {
  color: #c5cbcc;
  padding-left: 5px;
}

.add-item-form {
  margin-top: 10px;
}

.add-item-input {
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #20a619;
  border-radius: 1px;
  width: 370px;
  height: 25px;
  padding: 5px;
  padding-bottom: 4px;
  margin-right: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
}
.add-item-input:focus {
  outline: none;
}

.add-btn {
  border-style: none;
  width: 100px;
  height: 33px;
  padding: 5px;
  border-radius: 3px;
  background: #049160;
  color: #fff;
  font-size: 15px;
  font-weight: lighter;
  letter-spacing: 1px;
  cursor: pointer;
}

.items {
  width: 500px;
  margin: 30px 0;   
  color: #fff;
  font-size: 18px;
}

.item {
  /* border: 1px solid #ccc; */
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #20a619;
  border-radius: 1px;
  padding: 10px; 
}

.delete-btn {
  /* background: #ff0000; */
  background: #bc0505;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  float: right
}
